@import "reset.css";
@import "settings/colors";
@import "settings/fonts";
@import "settings/sizes";

@import "elements/header";
@import "elements/article";
@import "elements/sidebar";
@import "elements/comments";
@import "elements/footer";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-primary;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}